<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345770425108-psf1t7io5v8vo0p5kvf01gsknvrec1q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345770425108-psf1t7io5v8vo0p5kvf01gsknvrec1q7</string>
	<key>API_KEY</key>
	<string>AIzaSyCtfYG2BW40tPgHBOUNYanzYmKV25f_L7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>345770425108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncertBookApp</string>
	<key>PROJECT_ID</key>
	<string>ncertbook-8b528</string>
	<key>STORAGE_BUCKET</key>
	<string>ncertbook-8b528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345770425108:ios:089b7991069cfb1a3ee001</string>
</dict>
</plist>